@import url('../../styles/fonts/fonts.css');

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 30px !important;
  background-image: "url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8aDZcy0pgBukwWZtirLqpLyVnD05eNm9j2w&usqp=CAU')";
  font-family: 'Ysabeau_Office';
}

.logo-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  height: 40px;
  margin-right: 10px;
}

.left-buttons {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000; /* Set font color to black */
  padding-top: 5px;
  font-size: 14px;
  text-decoration: none; /* Remove underline by default */
  font-family: 'Ysabeau_Office';
}

.right-buttons {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  font-family: 'Ysabeau_Office';
}

.header-button {
  background-color: transparent;
  border: none;
  color: #000; /* Set font color to black */
  box-shadow: none; /* Remove shadow */
  padding: 0;
  font-size: 14px;
  text-decoration: none; /* Remove underline by default */
  position: relative; /* Add position relative for the pseudo-element */

  /* Add the underline effect on hover */
  &:hover {
    color: white;
    background-color: black;
  }
}
