.header {
  
  background-size: contain; /* Adjust to "cover" if you want the image to cover the entire header */
  background-repeat: no-repeat;
  background-position: center;
}



.logo-image {
  max-height: 100%; /* Set the maximum height of the image to fit the header */
  max-width: 100%; /* Set the maximum width of the image to fit the header */
  display: block; /* Remove any inline spacing to avoid unexpected gaps */
  margin: 0 auto;
  height: 60px; /* Center the image horizontally (if needed) */
}
.left-buttons,
.right-buttons,
.Homebutton {
  background-color: transparent;
  border: none;
  color: #5e35b1;
}

.SignUpbutton,
.profile_save_btn,
.Loginbutton,
.logoutButton {
  background-color: transparent;
  border: none;
  color: #5e35b1;
  box-shadow: none; 
}

.left-buttons,
.right-buttons,
.Homebutton:hover,
.SignUpbutton,
.Loginbutton,
.profile_save_btn:hover,
.logoutButton:hover {
  background-color: transparent;
}

.header {
  height: 100px;
}
